@use "../variables";
@use "../mixins";

#show-cart {
  display: flex;
}

.cart-content {
  position: absolute;
  background-color: variables.$primar-light-color;
  box-shadow: 0px 0px 10px variables.$lightbox-bg;
  border-radius: 0.5rem;
  top: 6rem;
  right: 4rem;
  width: 350px;
  min-height: 200px;
  display: none;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: variables.$mobile-size) {
    width: 80vw;
  }

  h4 {
    border-bottom: 1px solid variables.$grayish-blue;
    padding: 1rem;
    width: 100%;
  }

  p {
    color: variables.$text-p-color;
    margin: auto 0;
  }
  .cart-items-container {
    padding: 1rem;
    height: 100%;
    .cart-item {
      @include mixins.center(row, space-between);
      gap: 1rem;

      img {
        width: 50px;
        height: 50px;
      }

      .item-text {
        p {
          display: inline;
        }

        span {
          display: block;
        }
      }
      .delete img {
        width: 1rem;
        height: 1rem;
      }
      .checkout-button {
        button {
          background-color: variables.$primary-color;
        }
      }
    }
  }
}
