@use "../variables";
@use "../mixins";

.images-container {
  .images-main {
    margin-bottom: 1rem;
    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  .images-thumbs {
    @include mixins.center(row, space-between);
    gap: 2rem;

    .active {
      opacity: 75%;
      border: 2px solid variables.$primary-color;
    }

    .thumb {
      &:hover {
        opacity: 60%;
        cursor: pointer;
      }

      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }
}

.img-modal {
  background-color: rgba(0, 0, 0, 0.475);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.images-container-modal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .images-main-modal {
    img {
      max-width: 500px;
    }

    .open-close-img-modal {
      outline: 0;
      background-color: transparent;
      position: absolute;
      top: 40px;
      right: 70px;
    }
  }

  .images-thumbs-modal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .thumb {
      width: 50px;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .images-container-modal {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .images-main-modal {
      img {
        width: 100vw;
      }

      .open-close-img-modal {
        outline: 0;
        background-color: transparent;
        position: absolute;
        top: 70px;
        right: 10px;
      }
    }

    .images-thumbs-modal {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      .thumb {
        width: 50px;
        img {
          width: 100%;
        }
      }
    }
  }
}
