@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$primary-color: hsl(26, 100%, 55%);
$secondary-color: hsl(25, 100%, 94%);
$text-color: hsl(220, 13%, 13%);
$text-p-color: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$primar-light-color: hsl(0, 0%, 100%);
$lightbox-bg: hsla(0, 0%, 0%, 0.75);
$body-font-size: 16px;
$font-stack: "Kumbh Sans", sans-serif;
$mobile-size: 375px;
$tablet-size: 960px;
