@use "./variables";
@use "./mixins";

.mobile {
  display: none;
  @media screen and (max-width: variables.$tablet-size) {
    display: block;
  }
}

.desktop {
  @media screen and (max-width: variables.$tablet-size) {
    display: none;
  }
}

.header {
  margin-bottom: 3rem;
}

.main-container {
  @include mixins.center(row, space-between);
  margin: 0 10rem;
  padding: 5rem 0;
  @media screen and (max-width: variables.$tablet-size) {
    flex-direction: column;
    gap: 1.5rem;
  }

  .image-container {
    width: 40%;
    min-width: 300px;
  }

  .info-container {
    width: 40%;
    min-width: 300px;
    @include mixins.center(column, space-between);
    align-items: start;
  }
}
